.brands {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.brands img {
    height: 28px;
    width: auto;
    opacity: 0.4;
    transition: 0.3s ease;
}

.brands img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.brand-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-item img {
    width: 141px;
    height: 48px;
    opacity: 0.4;
    transition: 0.3s ease;
}

.brand-item.special {
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0px #80808030;
}