.destinations {
    text-align: center;
    margin-bottom: 100px;
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
    margin-bottom: -40px;
}

.title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #14183E;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 300px;
    height: 457px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 5px 0px #80808030;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 457px;
    object-fit: cover;
    display: block;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 90%;
    background: white;
    padding: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
    color: #5E6282;
}

.card-footer {
    margin-top: 20px;
}

.destinations-day {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    color: #5E6282;
}

.destinations-day img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}