body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
}

header {
    position: relative;
    overflow: hidden;
}

.topnav {
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
    margin-bottom: 75px;
}

.navbar {
    display: flex;
    gap: 70px;
    align-items: center;
}

.navbar a {
    font-size: 17px;
    text-decoration: none;
    color: #212832;
    font-weight: 600;
}

.sign-up {
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 10px 24px;
    white-space: nowrap;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content span {
    width: 410px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #DF6951;
    text-transform: uppercase;
    flex-shrink: 0;
}

.banner-content h1 {
    width: 545px;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4px;
    color: #181E4B;
}

.banner-content p {
    width: 460px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

/*.banner-actions {
    display: flex;
}

.button-one, .button-two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-one img {
    display: block;
    margin-left: -35px;
}*/

.banner-actions {
    display: flex;
    gap: 32px;
}

.find-more {
    width: 170px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #F1A501;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
        box-shadow: 0 5px 20px 0 #F1A501;;
    }
}

.play-demo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #6C6F77;
    cursor: pointer;
}

.play-demo span {
    color: #686D77;
}

.play-circle {
    width: 52px;
    height: 52px;
    background: #DF6951;
    border-radius: 50%;
    position: relative;
}

.play-circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    border-left: 12px solid white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.banner-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.banner-img img {
    width: 123%;
    max-width: 1000px;
    height: auto;
    object-fit: contain;
    display: block;
}

.decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
    color: #5E6282;
}

.subtitle {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #14183E;
    margin: 0;
    margin-bottom: 48px;
}